# Environments
venv/
env/
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Data & Models (Büyük dosyalar)
data/*.csv
model/
*.joblib
*.safetensors

# OS
.DS_Store
.DS_Store?
._*
Thumbs.db
ehthumbs.db
desktop.ini

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Project Specific
evaluate_bert.py
baseline_train.py
proje_raporu.md
